{# about.html #}

{% extends 'base.html' %}

{% block title %}О нас{% endblock %}

{# Переопределяем блок body_class для специфичных стилей страницы (если нужен) #}
{# Если у вас есть класс body для страницы О нас, добавьте его сюда #}
{% block body_class %}page-about{% endblock %}
{# Если специфичный класс body не нужен, этот блок можно удалить или оставить пустым #}


{# --- Переопределяем блок content для основного содержимого страницы --- #}
{% block content %}
    {# Уникальное содержимое страницы "О нас" начинается здесь.
       Теги <main> и <div class="container"> из base.html уже предоставлены.
       Вам нужно скопировать сюда все, что было внутри <main> в вашем старом about.html.
    #}

    {# Вторая навигация (внутристраничные якоря) - остается здесь, т.к. она уникальна для этой страницы #}
    {# Убедитесь, что этот div находится внутри контейнера, если это необходимо по вашему дизайну #}
    {# Если base.html уже предоставляет <div class="container"> внутри <main>, возможно, стоит убрать класс container отсюда #}
    <div class="navbar container">
        <nav>
            <ul>
                <li><a href="#about">О нас</a></li> {# Якорь на раздел внутри этой же страницы #}
                <li><a href="#team">Команда</a></li> {# Якорь на раздел внутри этой же страницы #}
                <li><a href="#equipment">Оборудование</a></li> {# Якорь на раздел внутри этой же страницы #}
                <li><a href="#reviews">Отзывы</a></li> {# Якорь на раздел внутри этой же страницы #}
            </ul>
        </nav>
    </div>

    {# Основное содержимое страницы "О нас" из вашего старого кода #}
    {# Убедитесь, что все эти секции находятся внутри блока content #}

    <h1 id="about">О нас</h1>
    <h2>Студия звукозаписи Dope Music</h2>
    <h5>Мы предлагаем комфортные условия для музыкантов и специалистов звукозаписи любого уровня — от начинающих артистов до опытных профессионалов. Нашей ключевой особенностью является доступная аренда современной оборудованной студии для решения любых творческих задач.</h5>
    <h5>У нас вы сможете комфортно провести запись треков совместно с друзьями или коллегами, а также создать уникальные композиции самостоятельно, используя собственное оборудование (ноутбук, микрофоны, интерфейсы и музыкальные инструменты).</h5>
    <h6>Credits: May Wave$ / D4P / BANG OG / Tony Sheikh / Ice IX / Babylaurenne & etc.</h6>

    <div class="team">
        <h1 id="team">Команда</h1>
        {# Изображения команды из static/img/ #}
        <div class="team-info">
            <img src="{{ url_for('static', filename='img/travis.jpg') }}" alt="team">
            <h5>Денис (Luvcartier)</h5>
            <p>Сооснователь студии, Звукорежиссёр</p>
        </div>

        <div class="team-info">
            <img src="{{ url_for('static', filename='img/thugger.jpg') }}" alt="team">
            <h5>Денис (Luvcartier)</h5>
            <p>Сооснователь студии, Звукорежиссёр</p>
        </div>

        <div class="team-info">
            <img src="{{ url_for('static', filename='img/gunna.jpg') }}" alt="team">
            <h5>Денис (Luvcartier)</h5>
            <p>Сооснователь студии, Звукорежиссёр</p>
        </div>
    </div>

    <div class="equipment">
        <h1 id ="equipment">Оборудование</h1>
        <h5>Оборудование на борту студии Dope Music:</h5>
        <h6>
        - Микрофон ARK Fet <br>
        - Звуковой интерфейс Universal Audio Apollo Quad <br>
        - Звуковой интерфейс Komplete Audio 6 MK2 <br>
        - Наушники Beyerdynamic DT 770 PRO 80 Ohm <br>
        - Наушники Beyerdynamic DT 990 250 Ohm <br>
        - 2-канальный ламповый предусилитель ART TPS II <br>
        - Ламповый предусилитель/компрессор/эквалайзер ART Pro Channel II <br>
        - Студийные мониторы YAMAHA HS7 <br>
        </h6>

        {# Карусель оборудования #}
        <div id="equipmentCarousel" class="carousel slide mt-4" data-bs-ride="carousel">
            <div class="carousel-inner">
                {# Пути к изображениям оборудования из static/img/ #}
                <div class="carousel-item active">
                    <img src="{{ url_for('static', filename='img/dt770 + mic.png') }}" class="d-block w-100" alt="Наушники и микрофон">
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='img/UAD.png') }}" class="d-block w-100" alt="UAD звуковая карта">
                </div>
                 <div class="carousel-item">
                    <img src="{{ url_for('static', filename='img/YAMAHA HS7.png') }}" class="d-block w-100" alt="Мониторы">
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='img/DT 990.png') }}" class="d-block w-100" alt="Наушники DT 990">
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='img/preampART.png') }}" class="d-block w-100" alt="Предусилитель ART">
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#equipmentCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Назад</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#equipmentCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Вперёд</span>
            </button>
        </div>
    </div> {# Закрытие div.equipment #}


    <div class="reviews">
        <h1 id="reviews">Отзывы</h1>
        <h5>Ваш комфорт - наш приоритет!</h5>
        <div class="review">{# ... Здесь будут отзывы ... #}
        <a href="https://yandex.ru/maps/org/dope_music/183475169094/reviews/?ll=56.239675%2C58.013182&tab=reviews&z=17.04" target="_blank">
            <img src="{{ url_for('static', filename='img/yandex.svg') }}" alt="logo">
        </a>
        <a href="https://www.avito.ru/brands/8990c5f8ea42953da6e8c0a37b8c39ba/all?gdlkerfdnwq=101&page_from=from_item_card&iid=3491209413&sellerId=93f57b0a891d8d31b71c49deba404f57" target="_blank">
            <img src="{{ url_for('static', filename='img/avito.svg') }}" alt="logo">
        </a></div>

    </div> {# Закрытие div.reviews #}


{% endblock %}
{# --- Конец блока content --- #}

{# Опционально: если нужны скрипты только для этой страницы, переопределите блок extra_scripts #}
{# {% block extra_scripts %}
    <script src="{{ url_for('static', filename='js/about_script.js') }}"></script>
{% endblock %} #}