{# contacts.html #}
{% extends 'base.html' %}

{% block title %}Контакты{% endblock %}

{% block body_class %}page-contacts{% endblock %}

{% block content %}

    <div class="contacts navbar container"> 
       <nav>
            <ul>
                <li><a href="#contacts">Контакты</a></li> {# Якорь на раздел внутри этой же страницы #}
                <li><a href="#how-to-get">Как добраться?</a></li> {# Якорь на раздел внутри этой же страницы #}
            </ul>
        </nav>
    </div>

        <h1 id="contacts">Контакты</h1>

        <div class="contacts-info">
            <div class="contacts-row">
                <h4>Соц. сети</h4>
                <div class="contacts-info-social">
                    {# Пути к изображениям соцсетей из static/img/ #}
                    <a href="https://t.me/dopemusic_records" target="_blank"> {# Внешняя ссылка #}
                        <img src="{{ url_for('static', filename='img/Tg.svg') }}" alt="logo">
                    </a>
                    <a href="https://www.instagram.com/dopemusic.perm/" target="_blank"> {# Внешняя ссылка #}
                        <img src="{{ url_for('static', filename='img/Inst.svg') }}" alt="logo">
                    </a>
                    <a href="https://vk.com/dopemusicrecords?from=groups" target="_blank"> {# Внешняя ссылка #}
                        <img src="{{ url_for('static', filename='img/Vk.svg') }}" alt="logo">
                    </a>
                </div>
            </div>

            <div class="contacts-row">
                <h4>Телефон</h4>
                <h4 class="phone">+7 (919) 709-84-09</h4>
            </div>

            <div class="contacts-row">
                <h4>Адрес студии</h4>
                <h4 class="adres">Пермь, ул. Петропавловская, 40</h4>
            </div>
        </div>

        <h1 id="how-to-get">Как добраться?</h1>
        <div class="map-container">
            <iframe
                src="https://yandex.ru/map-widget/v1/?ll=56.239675%2C58.013182&mode=search&oid=183475169094&ol=biz&z=16.69&theme=dark"
                width="100%"
                allowfullscreen="true"
                style="position:relative;"
            ></iframe>
             <a href="https://yandex.ru/maps/org/dope_music/183475169094/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Dope Music</a>
        </div>
{% endblock %}

