{# create.html #}
{% extends 'base.html' %}

{% block title %}Создать запись{% endblock %}

{% block body_class %}page-create{% endblock %}

{% block content %}

        <h1>Добавление записи</h1>

        {# --- Форма создания поста --- #}
        <form method="post" enctype="multipart/form-data" class="form-control" style="padding: 20px; background-color: rgba(255, 255, 255, 0.05);border-radius: 4px; border: 3px solid #eee;">
            <div class="mb-3">
                <label for="titleInput" class="form-label" style="color: #fff;">Заголовок</label>
                {# value={{ title or '' }} сохранит введенное значение при ошибке #}
                <input type="text" name="title" id="titleInput" placeholder="Введите заголовок статьи" class="form-control" value="{{ title or '' }}" required>
            </div>
            <div class="mb-3">
                <label for="textInput" class="form-label" style="color: #fff;">Текст записи</label>
                <textarea name="text" id="textInput" placeholder="Введите текст записи" class="form-control" rows="10" required>{{ text or '' }}</textarea>
            </div>

            {# --- Поле для загрузки файла изображения (необязательно) --- #}
            <div class="mb-3">
                <label for="imageInput" class="form-label" style="color: #fff;">Изображение (необязательно)</label>
                <input type="file" name="image" id="imageInput" class="form-control" accept="image/*">
            </div>
            {# --- Конец поля --- #}

            <button class="btn btn-primary" type="submit">Добавить запись</button>
        </form>

{% endblock %}

