{# index.html #}
{% extends 'base.html' %}

{% block title %}DOPE MUSIC{% endblock %}

{% block body_class %}page-index{% endblock %}

{% block content %}

        <div id="equipmentCarousel" class="carousel slide mt-4" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{ url_for('static', filename='img/8.jpg') }}" class="d-block w-100 h-100" style="object-fit: cover;" alt="studio">
                </div>

                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='img/10.jpg') }}" class="d-block w-100 h-100" style="object-fit: cover;" alt="studio1">
                </div>

                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='img/9.jpg') }}" class="d-block w-100 h-100" style="object-fit: cover;" alt="studio2">
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#equipmentCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Назад</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#equipmentCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Вперёд</span>
            </button>
        </div>

        <h1>DOPE MUSIC</h1>
        <h2>Первая многофункциональная <br> студия звукозаписи в Перми  </h2>
        <a class="mainknopka" href="https://t.me/dopemusic_perm" target="_blank">Забронировать время</a>
{% endblock %}