{# label.html #}
{% extends 'base.html' %}

{% block title %}Лейбл{% endblock %}

{% block body_class %}page-label{% endblock %}

{% block logo %}
    <img src="{{ url_for('static', filename='img/Group 98.svg') }}" alt="Логотип Лейбла" style="margin-left: -12px;">
{% endblock %}

{% block content %}

    <div class="container"> {# Этот контейнер был внутри main в вашем старом коде #}
        <div class="title-container">
            <h1>Лейбл</h1>
            <a class="on-page" href="https://vk.com/dopemusiclabel?from=groups" target="_blank">Подробнее</a>
        </div>

        <h2>DOPE MUSIC LABEL.</h2>
        <h5>Предоставляем качественные услуги по распространению музыки по всему миру. <br> Для начинающих и опытных музыкантов в любом жанре.</h5>

        {# Внешние ссылки - не требуют url_for #}
        <h5>Работаем со <a href="https://zvonkodigital.com/" target="_blank">ZVONKO digital</a> & <a href="https://www.believe.com/russia-cis" target="_blank">Believe Music</a></h5>

        <h6>• Оперативная выгрузка на цифровые платформы<br>
            • Принимаем любые обложки без ограничений<br>
            • Можем прописывать серым шрифтом prod. by<br>
            • Синхронизация текста в VK Музыка, Яндекс.Музыка, Apple Music<br>
            • Добавим видеошот на Ваш релиз<br>
            • Техническая поддержка 24/7<br>
            • Честная и открытая статистика
        </h6>

        <div class="label-container">
            <div class="label-item">
                <div class="label-item-block">
                    {# Внешняя ссылка и путь к изображению из static/img/ #}
                    <a href="https://vk.com/market-129632596?screen=group" target="_blank"><img src="{{ url_for('static', filename='img/услуги.jpg') }}" alt="услуги"></a>
                    {# Внешняя ссылка - не требует url_for #}
                    <a href="https://vk.com/market-129632596?screen=group" target="_blank"><span>Услуги</span></a>
                </div>

                <div class="label-item-block">
                    {# Внешняя ссылка и путь к изображению из static/img/ #}
                    <a href="https://vk.com/topic-129632596_52786918" target="_blank"><img src="{{ url_for('static', filename='img/требования.jpg') }}" alt="требования"></a>
                    {# Внешняя ссылка - не требует url_for #}
                    <a href="https://vk.com/topic-129632596_52786918" target="_blank"><span>Требования</span></a>
                </div>

                <div class="label-item-block">
                    {# Внешняя ссылка и путь к изображению из static/img/ #}
                    <a href="https://vk.com/audios-129632596" target="_blank"><img src="{{ url_for('static', filename='img/наши релизы.jpg') }}" alt="релизы"></a>
                    {# Внешняя ссылка - не требует url_for #}
                    <a href="https://vk.com/audios-129632596" target="_blank"><span>Наши релизы</span></a>
                </div>

                <div class="label-item-block">
                    {# Внешняя ссылка и путь к изображению из static/img/ #}
                    <a href="https://vk.com/topic-129632596_52786841" target="_blank"><img src="{{ url_for('static', filename='img/отзывы.jpg') }}" alt="отзывы"></a>
                    {# Внешняя ссылка - не требует url_for #}
                    <a href="https://vk.com/topic-129632596_52786841" target="_blank"><span>Отзывы</span></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
